<h1>Results</h1>

<html>

<head>
    <title>Image Gallery</title>
    <a href="/Search"/>Search Again</a>

    <style> body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a {
    color: #00B7FF;
    }

    .gallery{
    margin: 10px 50px;
    }

    .gallery img {
    transition: 1s;
    padding: 15px;
    }

    .gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
    }
    </style>
</head>
<body>


<div class="gallery">
    <% data["photos"]["photo"].forEach(function(photo, i){ %>

        <%
            var id =  photo["id"]
            var farm = photo["farm"]
            var secret = photo["secret"]
            var server = photo["server"]

        %>
            <%var url = "https://farm"+farm+".staticflickr.com/"+server+"/"+id+"_"+secret+"_q.jpg"; %>
            <%var url2 = "https://farm"+farm+".staticflickr.com/"+server+"/"+id+"_"+secret+"_b.jpg"; %>

        <a href= <%=url2%>><img src=<%=url%>></a>


    <% }) %>

</div>

</body>

</html>


