body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gallery{
  margin: 10px 50px;
}

.gallery img {
  transition: 1s;
  padding: 15px;
}

.gallery img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}
